.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .container {
        padding: 1em;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.table th,
.table td {
    padding: 0.75em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #0f1325;
}

.link {
    color: aqua;
}

.dropdown {
    margin-bottom: 1em;
}
